/**{*/
/*    color: white; !* text color*!*/
/*    font-family: sans-serif;*/
/*    list-style-type: none;*/
/*    text-decoration: none;*/
/*    margin:0;*/
/*    padding:0;*/


/*}*/
/*html{*/
/*    height: 150%;*/
/*    scroll-behavior: smooth;*/
/*}*/
/*!*background*!*/
/*body{*/
/*    background-color: rgb(240, 240, 240);*/

/*}*/
/*.inhoud{*/
/*    font-size: 200%;*/
/*}*/
/*!*navigation bar global*!*/
/*#home-icon{*/
/*    position: relative;*/
/*    padding: 1em;*/
/*    top:1.1em;*/
/*    width:1em;*/
/*}*/

/*#current-page{*/
/*    background-color:rgb(170, 0, 0);*/

/*}*/

/*nav{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    background-color: rgb(0, 0, 0);*/
/*    z-index: 10;*/
/*    font-size: 120%;*/
/*}*/

/*nav li{*/
/*    display: inline; !* make list horizontal*!*/
/*    text-align: left;*/
/*    position: relative;*/
/*    bottom:1em;*/

/*}*/
/*nav a{*/
/*    position: relative;*/
/*    bottom:0.1em;*/
/*    padding: 1.1em;*/

/*}*/
/*nav ul{*/
/*    padding:1px;*/
/*}*/
/*nav a:hover{*/
/*    background-color:rgb(110, 0, 0);*/
/* }*/



/*!*footer*!*/
/*footer{*/
/*    background-color: rgb(0, 0, 0);*/
/*    text-align: center;*/
/*    position: fixed;*/
/*    bottom:0;*/
/*    width:100%;*/
/*    padding: 0px;*/
/*}*/
