# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\hbo-ict\year1q3\SDG-tool-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
